
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 252 88% 74%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-reflect-dark text-foreground antialiased;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .rounded-inherit {
    border-radius: inherit;
  }

  .cosmic-text-gradient {
    @apply bg-gradient-to-r from-reflect-purple to-reflect-blue bg-clip-text text-transparent;
  }
  
  .glow {
    @apply relative;
  }
  
  .glow::after {
    content: "";
    @apply absolute inset-0 rounded-inherit bg-cosmic-gradient blur-md opacity-50 -z-10;
  }
  
  .reflection {
    @apply relative;
  }
  
  .reflection::after {
    content: "";
    @apply absolute left-0 right-0 bottom-0 h-8 bg-reflect-purple/20 blur-lg -z-10 scale-x-75;
    transform-origin: bottom;
  }
}
